.social-media {
  @include clearfix;
    margin: 0;
    padding: 0;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0em;
    }
    a {
      padding: 0.25em 0.35em;
      display: inline-block;
      color: $black;
    }
}
