// variables.css

// Typeface
$font-stack: "franklin-gothic-urw", sans-serif;

// colors
$white: #fff;
$black: #333;
$gray-light: #ccc;
$gray-lighter: #eee;
$teal: #0AFEC7;

//category colors
$blue: #0AF5Fd;
$green: #00EA90;
$fuschia: #C3006D;
$yellow: #D5DC00;
$red: #E62620;
$purple: #D438EF;
